.load_all {
  height:100%;
 
}
.pagination{
  display: flex;
  flex-wrap: wrap;
 
}

.pagination-action {
 margin:1em;
 display: flex;
 justify-content: center;
}

.pagination-action button{
  color: black;
  padding: 8px 16px;
  border:none;
  outline:none;
}

.pagination-action button.active{
  background-color: #4CAF50;
  color: white;
}

.pagination-action button:hover:not(.active) {background-color: rgb(241, 241, 241);}

.pagination::-webkit-scrollbar {
  display: none;
}

.public_gist {
  width:100%;
  margin:1em;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid rgb(149, 149, 149);
	border-left: 1px solid rgb(149, 149, 149);
	border-right: 1px solid rgb(149, 149, 149);
	border-top: 10px solid blue;
	box-shadow: -5px -5px 8px -1px gray;
}

.profile-container {
	border-bottom: 1px solid rgb(149, 149, 149, 0.3);
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.profile {
	display: flex;
}

.profile > div > p{
  word-break: break-all;
}

.profile > img {
	margin-right: 1em;
}

.description{
  word-break: break-all;
  padding:5px;
}

.ace_editor {
	margin-top: 15px;
}

.ace_scrollbar-v {
	display: none !important;
}
.ace_scrollbar-h {
	display: none !important;
}

@media screen and (max-width: 425px) {
	.public_gist {
		width: 90%;
	}
}
