.load_all {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.single_gist {
	background-color: #ffffff;
	width:80%;
	margin: 1em;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid rgb(149, 149, 149);
	border-left: 1px solid rgb(149, 149, 149);
	border-right: 1px solid rgb(149, 149, 149);
	border-top: 10px solid blue;
	box-shadow: -5px -5px 8px -1px gray;
}

.profile-container {
	border-bottom: 1px solid rgb(149, 149, 149, 0.3);
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.star {
	background-color: transparent;
	outline: none;
	padding: 1px 5px;
	border: 1px solid blue;
}

.unstar {
	background-color: transparent;
	outline: none;
	padding: 1px 5px;
	border: 1px solid blue;
}
.profile {
	display: flex;
}

.profile > img {
	margin-right: 1em;
}

.ace_editor {
	margin-top: 15px;
}

.ace_scrollbar-v {
	
	display: none !important;
}
.ace_scrollbar-h {
	
	display: none !important;
}

@media screen and (max-width: 425px) {
	.single_gist {
		width: 90%;
	}
}
