.navbar {
	width: 100%;
	background: aliceblue;
	position: fixed;
	z-index: 2;
	height: 67px;
}

.navbar .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

.link {
	padding: 10px;
	text-decoration: none;
}
