.load_all {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
}

.single_gist {
	width: 40%;
	margin: 1em;
	padding: 10px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border: 1px solid rgb(149, 149, 149);
	border-top: 3px solid blue;
}

.profile {
	display: flex;
}

.profile > img {
	margin-right: 1em;
}

.ace_editor {
	margin-top: 15px;
}

@media screen and (max-width: 425px) {
	.single_gist {
		width: 100%;
	}
}
